/* header */   
#navigation-bar{
    background-color: rgb(177, 177, 177);

}
#nav-heading{
    font-size: xx-large;
    font-weight: 600;
}
.navbar .dropdown-toggle::after{
    content: none;
}
.dropdown { 
    position: static; 
}
.dropdown-menu 
{ 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); 
    margin-top: 0px ; 
    width: 100% ;
    background-color:rgb(87, 136, 136);
    text-align: center;
}
.dropdown-menu a{
    color: white;
    font-weight: 600;
}

/* content */
#menu-title{
    margin-top: 15px;
    margin-bottom: 25px;
}

.row h4{
    text-align: center;
}

.menu-item{
    background-color: beige;
    margin:10px 0px;
    padding: 10px;
}

@media  (max-width:575px){
    .menu-item{
        margin: 10px 30px;
    }
}
